@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --color-heading:rgb(95 192 218);
  --color-p: rgb(233, 233, 233);
  --Dark-Blue: hsl(228, 56%, 26%);
  --Very-Dark-Blue: hsl(229, 57%, 11%);
  --margin-bottom: 2rem;
}

*, 
*::after, 
*::before {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%;
}

.hidden {
  display: none;
}

body {
  align-items: center;
  min-height: 100vh;
  max-width: 70rem;
  margin: 0 auto;
  padding: 2.5rem 2rem;
  background-image: linear-gradient(to right, var(--Dark-Blue), var(--Very-Dark-Blue));
  font-family: 'Poppins', sans-serif;
}

/* TYPOGRAPHY */

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.4rem;
  line-height: 2.5rem; 
  margin: 2rem 0;
  color: rgb(242, 242, 242);
  font-weight: 500;
  text-align: center;
}

h2 {
  color: var(--color-heading);
}

p {
  font-size: 1.3rem;
  line-height: 2rem;
  color: var(--color-p);
}

h2, p {
  margin-bottom: var(--margin-bottom);
  text-align: center;
}

input {
  margin-right: 2rem;
  font-size: 2rem;
}

.answer-option {
  padding: 1.5rem;
  text-align: left;
  border-radius: 1rem;
  border: 2px solid lightgrey;
  font-size: 1.2rem;
  color: white;
  box-shadow: 0 .5rem 1rem hsla(0, 0%, 0%, 0.341);
  transition: background-color .5s;
}

.answer-option:hover {
  background-color: hsl(229, 57%, 30%);
}

.answer-option:not(:last-child) {
  margin-bottom: 2rem;
}

.attribution {
  font-size: 1.4rem;
  text-align: center;
}

.attribution a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

/* LAYOUTS - SECTIONS*/

header {
  display: flex;
  justify-content: space-between;
}

.quiz, 
.result {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.options {
  display: flex;
  flex-direction: column;
}

.question {
  max-width: 23rem;
}

.answer-option {
  min-width: 25rem;
}

@media screen and (min-width: 768px) {
  .question {
    max-width: 40rem;
  }
  
  .answer-option {
    min-width: 45rem;
  }
}

/* icon */

.fa {
  color: white;
}

.tickCorrect img, 
.tickInCorrect img {
  height: 2rem;
} 

/* buttons */

.btn {
  border: 0;
  font-weight: 600;
  cursor: pointer;
  padding: 1.5rem 4rem;
  transition: all .5s;
  width: 100%;
  font-weight: 600;
}

.quest-buttons {
  margin: 3rem 1rem 5rem 1rem ;
}

.btn-submit {
  background-color: rgba(238, 14, 14, 0.897);
  color: white;
}

.btn-next {
  background-color: gold;
}

.btn-restart {
  background-color: rgb(45, 251, 45);
}

