@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, 
*::before, 
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-image: linear-gradient(to right, darkblue, darkslateblue);
}

main {
  margin: 0 auto;
}

.form-container {
  padding: 2rem; 
  margin: 6% auto;

}

.form-container {
}

.button-container {
  box-shadow: .5rem .5rem 2rem rgba(0, 0, 0, 0.185);
  position: relative;
  border-radius: 3rem; 
}

/* 
.toggle-btn {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 1rem 2rem;
  cursor: pointer; 
  width: 11rem;
  height: 4rem;
  font-size: 1.8rem;
  font-weight: 600;
  position: relative;
}

.highlight {
  position: absolute;
  background-color: gold;
  width: 11rem;
  height: 100%;
  border-radius: 3rem;
  top: 0;
  left: 0;
}

.icons {
  margin: 3rem 0;
  display: flex;
  gap: 1rem;
}

.icon {
  padding: 1rem;
  background-color: gold;
}

.input-field {
  padding: 1rem 0;
  outline: none;
  border-bottom: 1px solid rgb(155, 149, 149);
  border-top: 0;
  border-left: 0;
  border-right: 0;
  display: block;
  width: 30rem;
  margin-bottom: 3rem;
}

.check {
}

#remember {
  font-size: 1.7rem;
  margin-left: 1rem;
}

.login-btn {
  display: block;
  margin: 2rem 0;
  padding: 1rem 2rem;
  border-radius: 2rem;
  border: none;
  background-color: gold;
  align-self: center;
  width: 100%;
  cursor: pointer; 
} */










