@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --color-heading:rgb(95 192 218);
  --color-p: rgb(233, 233, 233);
  --Dark-Blue: hsl(228, 56%, 26%);
  --Very-Dark-Blue: hsl(229, 57%, 11%);
  --margin-bottom: 2rem;
}

*, 
*::after, 
*::before {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%;
}

.hidden {
  display: none;
}

body {
  align-items: center;
  min-height: 100vh;
  max-width: 70rem;
  margin: 0 auto;
  padding: 2.5rem 2rem;
  /* background-image: linear-gradient(to right, var(--Dark-Blue), var(--Very-Dark-Blue)); */
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
}

label {
  display: block;
  padding: 1rem 0;
}

.quiz {
  background-color: dodgerblue;
  padding: 5rem 2rem;
  min-width: 60vw;
  border-radius: 1rem;
}

.green-label {
  background-color: green;
}

.red-label {
  background-color: red;
}
