*, 
*::after,
*::before {
  margin: 0;
}

html {
  font-size: 62.5%;
}

main {
  margin: 5rem 1rem;
}

.inputSection:not(:last-child) {
  margin-right: 2rem;
}

/* INPUT */
input {
  padding: 1rem 1.2rem;
  outline: none;
  height: 1.5rem;
  font-size: 1.8rem;
  margin-right: 2rem;
}

/* BUTTONS */
.btn {
  cursor: pointer;
  padding: 1rem 3rem;
  border: none;
  transition: transform .5s;
  color: white;
}

.btn:hover {
  transform: scale(1.05);
}

.btnAdd {
  background-color: green;
}

.btnDelete {
  background-color: red;
}


/* SECTIONS */

.inputSection {
}

.outputSection {
  margin-top: 5rem;
}


/*  */

h1, h2 {
  margin-bottom: 2rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}


.todoItem {
  font-size: 2rem;
}


/* LAYOUT */
.grid {
  
}

.grid1x3 {
  display: grid;
  grid-template-columns: repeat(3, auto);
  margin-top: 2rem;
}
